<div class="card">
  <div class="card-content">
	<div class="nav-center">
		<p class="subtitle is-5 has-text-centered" style="color:#CC2C4C;"><b>ความเป็นมาของวันแดงเดือด</b></p>
	</div>
	<div class="nav-center">
	<div class="columns">
	  <div class="column is-one-quarter"></div>
	  <div class="column">
	    <p class="notification is-primary" style="background-color:#ff3860;">
			&nbsp;&nbsp;&nbsp;เราเรียกวันที่ประจำเดือนมาถึงว่า "วันแดงเดือด" เนื่องจากในช่วงวันดงักล่าวเป็นวันที่ฮอร์โมนของเพศหญิงมีการปรับเปลี่ยน ทำให้มีอารมณ์แปรปรวนได้ง่าย จึงอาจเกิดการระเบิดลงได้ ดังนั้นเราจึงเรียกวันที่ประจำเดือนมาถึงว่า "วันแดงเดือด"    	
	    </p>
	  </div>
	  <div class="column is-one-quarter"></div>
	</div>
	</div>
	<div class="nav-center">
		<p class="subtitle is-5 has-text-centered" style="color:#A14674;margin-top:0.5em;"><b>สาระความรู้</b></p>
	</div>
	<div class="nav-center">
	<div class="columns">
	  <div class="column is-one-quarter"></div>
	  <div class="column">
	    <p class="notification is-primary" style="background-color:#CA5891;">
			&nbsp;&nbsp;&nbsp;ประจำเดือน เป็นการกล่าวถึงลักษณะของอาการเลือดและเนื้อเยื่อต่างๆ ที่หลุดลอกออกจากเยื่อบุโพรงมดลูก โดยเป็นผลจากการเปลี่ยนแปลงของระดับฮอร์โมนเพศหญิง ซึ่งจะสัมพันธ์กับการตกไข่ ภาวะที่เกิดขึ้นนี้ จึงถูกเรียกว่า ประจำเดือน <i>(การหลุดลอกของเยื่อบุโพรงมดลูกจะเกิดประมาณเดือนละครั้ง)</i>
	    	
	    </p>
	  </div>
	  <div class="column is-one-quarter"></div>
	</div>
	</div>
  </div>
</div>





