<nav class="nav">
  <div class="nav-left">
  </div>
  <div class="nav-center">
    <a class="nav-item">
      <img src="assets/images/gz-it-logo.png" alt="gz-it-logo">
    </a>
  </div>
  <div class="nav-right">
  </div>
</nav>
<div class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
    </div>
    <div class="nav-center">
      <a id="calculate" class="nav-item is-tab" routerLink="/">คำนวณ</a>
      <a id="info" class="nav-item is-tab" routerLink="/info/">ข้อมูลวันแดงเดือด</a>
      <a id="defend" class="nav-item is-tab" routerLink="/defend/">การรับมือ</a>
    </div>
    <div class="nav-right">
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>