<div class="card">


   <div class="card-content">
	<div class="nav-center">
		<p class="subtitle is-5 has-text-centered" style="color:#AF3131;"><b>สำหรับผู้หญิงที่อยู่วันแดงเดือด</b></p>
	</div>
	<div class="nav-center">
	<div class="columns">
	  <div class="column is-one-quarter"></div>
	  <div class="column">
	      <div class="nav-center field">
	        <img src="assets/images/blood-200.png">
	      </div>
	    <p class="notification is-primary" style="background-color:#db3e3e;">
			&nbsp;&nbsp;-&nbsp;กินผักผลไม้มากๆ จะช่วยบรรเทาอาการที่เกิดขึ้นในวันแดงเดือดได้และนอนพักผ่อนมากๆ (หลับยาว) จะช่วยให้จิตใจแจ่มใส  	
	    </p>
	  </div>
	  <div class="column is-one-quarter"></div>
	</div>
	</div>
</div>



   <div class="card-content">
	<div class="nav-center">
		<p class="subtitle is-5 has-text-centered" style="color:#2C9CCC;margin-top:0.5em;"><b>สำหรับผู้ที่อยู่ใกล้</b></p>
	</div>
	<div class="nav-center">
	<div class="columns">
	  <div class="column is-one-quarter"></div>
	  <div class="column">
	      <div class="nav-center field">
	        <img src="assets/images/ghost-200.png">
	      </div>
	    <p class="notification is-primary" style="background-color:#38C3FF;">
			&nbsp;&nbsp;-&nbsp;เส้นทางที่ดีที่สุด ในการป้องกันของผู้ใกล้ชิดที่อยู่ใกล้บุคคลที่วันแดงเดือดมาถึง นั้นก็คือ "นั่งสมาธิทำจิตใจให้สงบสุข"	    	
	    </p>
	  </div>
	  <div class="column is-one-quarter"></div>
	</div>
	</div>
</div>


</div>


